[submodule "Analysis/public"]
	path = Analysis/public
	url = https://bitbucket.org/bluetooth-SIG/public.git
[submodule "Analysis/CLUES_Schema"]
	path = Analysis/CLUES_Schema
	url = http://github.com/darkmentorllc/CLUES_Schema.git
[submodule "Analysis/BTIDES_Schema"]
	path = Analysis/BTIDES_Schema
	url = http://github.com/darkmentorllc/BTIDES_Schema.git
[submodule "Analysis/scapy"]
	path = Analysis/scapy
	url = https://github.com/XenoKovah/scapy.git
[submodule "Analysis/btsnoop"]
	path = Analysis/btsnoop
	url = https://github.com/XenoKovah/btsnoop.git
